<!DOCTYPE html>
<html>
<head>
  <title>Ablab</title>
  <%= stylesheet_link_tag    "ablab/application", media: "all" %>
  <%= javascript_include_tag "ablab/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
